<h1>Hello world</h1>
<div class="slideshow-container">
    <div class="mySlides fade">
      <div class="numbertext">1 / 13</div>
      <img src="{{ site.url }}{{ site.baseurl }}/images/carousel-bg/anokap-asia-worldwide-electro-chemical-surface-treatment.png" style="width:100%">
    </div>
    <div class="mySlides fade">
      <div class="numbertext">2 / 13</div>
      <img src="{{ site.url }}{{ site.baseurl }}/images/carousel-bg/anokap-thailand.png" style="width:100%">
      <div class="text">Anokap Solutions is a provider of advanced technical stainless steel services and stainless steel products. Most commonly requested services include stainless surface treatments and electro-chemical processing, namely, Electropolishing as well as post-electropolishing processes. Read more about Anokap here.</div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">3 / 13</div>
      <img src="{{ site.url }}{{ site.baseurl }}/images/carousel-bg/01-electropolishing-thailand-anokap.jpg" style="width:100%">
      <div class="text">Electropolishing is an electro chemical process that is almost the opposite of electroplating. Layers of a steel surface are removed as opposed to added. The surface properties are also enhanced meaning that you can achieve the ultimate in corrosion resistance, ultra-cleanliness, efficient and attractive surfaces. Read more about Electropolishing here.</div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">4 / 13</div>
      <img src="{{ site.url }}{{ site.baseurl }}/images/carousel-bg/02-electropolishing-thailand-anokap.jpg" style="width:100%">
      <div class="text">Corrosion resistance is commonly the most significant characteristic of a stainless steel, but can also be the most difficult to assess for a specific application. General corrosion resistance is comparatively easy to determine, but real environments are usually more complex. An evaluation of other pertinent variables such as fluid velocity, stagnation, turbulence, galvanic couples, welds, crevices, deposits, impurities, variation in temperature, and variation from planned operating chemistry among others issues need to be factored in to selecting the proper stainless steel for a specific environment.
      </div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">5 / 13</div>
      <img src="{{ site.url }}{{ site.baseurl }}/images/carousel-bg/03-electropolishing-thailand-anokap.jpg" style="width:100%">
      <div class="text">To ensure a stainless steel fabrication or components corrosion resistance is optimized prior to delivery, it should undergo a passivation stage. Thorough pre-cleaning is essential to ensure grease, soil and scale to not inhibit the natural materials ability to form the inert passive layer. Traditionally carried out with corrosive high oxidising agents, all surfaces are either sprayed or immersed in a solution which dissolves Iron and readily oxidises the Chromium. This rapidly forms the inert layer of the material and creates the critical surface property relied upon in service. Read more about Passivating and Desmuting Stainless here.
      </div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">6 / 13</div>
      <img src="{{ site.url }}{{ site.baseurl }}/images/carousel-bg/04-electropolishing-thailand-anokap.jpg" style="width:100%">
      <div class="text">In industries such as medical, surgical and pharmaceutical; ongoing cleaning programs must be employed stringently to keep the spread of disease to a minimum. Both existing and new equipment, should be sanitized to minimize the effect of the above. Surface finishing and treatment is necessary to obliterate surface contamination. Read more about Sanitation & Maintenance here.
      </div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">7 / 13</div>
      <img src="{{ site.url }}{{ site.baseurl }}/images/carousel-bg/05-electropolishing-thailand-anokap.jpg" style="width:100%">
      <div class="text">Stainless Steel Surface Finishing - Electropolishing, Pickling, Passivating, Desmuting, Disinfecting and other Metal Surface Processes and Finishing. Read about Anokap working case studies here</div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">8 / 13</div>
      <img src="{{ site.url }}{{ site.baseurl }}/images/carousel-bg/06-electropolishing-thailand-anokap.jpg" style="width:100%">
      <div class="text">Whether destined for another surface finishing process or going for dispatch, all fabrications and components should be thoroughly cleaned after manufacture. Sometimes it is necessary to clean assemblies in between manufacturing steps to ensure contamination is not an issue. This can often be a problem when leading onto heat treatment or welding operations, as surface contaminants are easily absorbed into the upper surface layers and extremely difficult to remove. Read more about cleaning stainless steel here.</div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">9 / 13</div>
      <img src="{{ site.url }}{{ site.baseurl }}/images/carousel-bg/07-electropolishing-thailand-anokap.jpg" style="width:100%">
      <div class="text">The thermal oxides from any heat treatment process and welding are mainly, iron oxides of various states. They will readily corrode and in almost every application, will contaminate product material with which they contact. The removal of these oxides is paramount in order to maintain the surface properties of stainless steel. Read more about pickling stainless steel and descaling stainless steel here.</div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">10 / 13</div>
      <img src="{{ site.url }}{{ site.baseurl }}/images/carousel-bg/08-electropolishing-thailand-anokap.jpg" style="width:100%">
      <div class="text">Anokap can procure and supply stainless steel treatment products, electropolishing products and cleaning chemicals for all kinds of specialist purposes and applications. View a sample of some of the products within our scope of supply here.</div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">11 / 13</div>
      <img src="{{ site.url }}{{ site.baseurl }}/images/carousel-bg/09-electropolishing-thailand-anokap.jpg" style="width:100%">
      <div class="text">An electropolishing plant for the treatment of stainless steel.See all stainless steel services offered by Anokap Thailand here.
      </div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">12 / 13</div>
      <img src="{{ site.url }}{{ site.baseurl }}/images/carousel-bg/10-electropolishing-thailand-anokap.jpg" style="width:100%">
      <div class="text">Onsite stainless steel maintenance contracts (cleaning, polishing and electropolishing) are available for an eclectic range of applications.Read more about onsite services here.
      </div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">13 / 13</div>
      <img src="{{ site.url }}{{ site.baseurl }}/images/carousel-bg/11-electropolishing-thailand-anokap.jpg" style="width:100%">
      <div class="text">Anokap is a regional distributor of Nitty Gritty weld cleaning products.Nitty Gritty offer solutions for TIG weld cleaning, MIG weld cleaning, passivation testing and clinox products.Watch video demonstrations for all of these here</div>
    </div>



<a class="prev" onclick="plusSlides(-1)">❮</a>
<a class="next" onclick="plusSlides(1)">❯</a>

</div>
<br>
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
  <span class="dot" onclick="currentSlide(4)"></span> 
  <span class="dot" onclick="currentSlide(5)"></span> 
  <span class="dot" onclick="currentSlide(6)"></span> 
  <span class="dot" onclick="currentSlide(7)"></span> 
  <span class="dot" onclick="currentSlide(8)"></span> 
  <span class="dot" onclick="currentSlide(9)"></span> 
  <span class="dot" onclick="currentSlide(10)"></span> 
  <span class="dot" onclick="currentSlide(11)"></span> 
  <span class="dot" onclick="currentSlide(12)"></span> 
  <span class="dot" onclick="currentSlide(13)"></span> 
</div>



</body>
</html> 