/* Custom header section beginning */
.grid-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    padding: 10px 100px 10px 100px;
    background-color:#2e3438;
    border-bottom: 2px solid #1c28c9;
  }
  .logo-container {
    grid-column: 1;
  }
  .logo-image{
    width: 250px;
    height: auto;
    margin-top: 15px;
  }
  .search {
    grid-column: 3;
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  .search button{
    margin-top: 20px;
    border-radius: 5px;
  }
  .search button a{
    color: white;
  }
  .search-header{
    width: 150px;
  }
  
  .gif-container {
    grid-column: 4;
  }
  .logo-gif{
    width: 100px;
    height: auto;
  }
  
#navigation{
    margin: 10px 100px 20px 100px;
    background-color: #1d2023;
    box-shadow: 0px 0px 0px black;
}

/* Custom header section end */


/* Carousel Settings Begin */
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 70%;
  position: relative;
  margin: auto;
  box-shadow: 10px 10px 20px grey;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: black;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: white;
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 30px 30px;
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: #323232;
  opacity: 0.9;
}

/* Number text (1/13 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 42em) {
  .prev, .next,.text {font-size: 11px}
}
/* Caption text */
.text {
  color: #f2f2f2;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: #323232;
  opacity: 0.9;
}

/* Carousel Settings End */