---
layout: page
title: "Internal Electropolishing"
permalink: "/internal-electropolishing/"
image-category: 
    - anokap_project_willowchem_pharmaceutical_pressure_valves-1.jpg
image-gallery:
    - anokap_project_willowchem_pharmaceutical_pressure_valves-1.jpg
    - anokap_project_willowchem_pharmaceutical_pressure_valves_image_1.jpg
    - anokap_project_willowchem_pharmaceutical_pressure_valves_image_2.jpg
    - anokap_project_willowchem_pharmaceutical_pressure_valves_image_3.jpg
    - anokap_project_willowchem_pharmaceutical_pressure_valves_image_4.jpg
---
<hr style="border: 2px solid black">

<h2>Categories</h2>
<br>
{% for image in page.image-category %}
  <img class="image-category" src="{{site.url}}/{{site.baseurl}}/images/{{ image }}" alt="Image">
{% endfor %}
<br>
<br>
<p><strong>Project date:</strong> October 2008</p>

<p><strong>Client:</strong> Pharmaceutical Vessel Electropolishing - Ireland</p>

<hr>

<h2>Gallery</h2>
<br>
<div class="image-wrapper">
{% for image in page.image-gallery %}
  <img class="image-gallery" src="{{site.url}}/{{site.baseurl}}/images/{{ image }}" alt="Image">
{% endfor %}
</div>

<hr style="border: 2px solid black">

<h4>Consult & Advise for Large Pharmaceutical Pressure Vessels</h4>

<p>Since being ready and open for business back in October 2007 the client had increased from strength to strength and under the guidance of Anokap Solutions had been busy chemically and electrochemically processing all sorts of fabrications, components and assemblies.</p>

<p>Over this progressive period many of the projects taken on board included the internal electropolishing of relatively small pressure vessel of between 50 – 500 litres. Throughout this period Anokap maintained technical support, ensuring each stage was carried out in a methodical and professional manner by supplying numerous well documented procedures and controls, included pre cleaning and post passivation treatments. These consultations were made much easier by the past experiences of the many professional parties within the Pharmaceutical industry, knowing the high level demands expected, especially with written procedural documentation which is of paramount importance within this high tech industry.</p>

<p>The initial set up of internal vessel processing was done with high levels of precision and safety employed. Following the initial stages confidence grew to take on larger more challenging projects. After cutting their teeth on over 25 units, the Managing Director decided in August that it was time to progress to the next level by taking on a project with 2 vessels of 5000 and 6000 litres. The call was made to Anokap Solutions to move into action within a moments notice as the project was even more testing by the fact that the vessels were already completely assembled and the time allocated to process them was over a weekend. Delivered Friday evening and required back to the customer by Monday lunchtime, the challenge was taken on board and the commitment given with only a week’s notice, of the vessels arriving.</p>

<p>Anokap Solutions rapidly produced a method statement, procedures and equipment list, including illustrations and diagrams. The team did not delay in acting on the instructions and the engineering details of the fixturing concept were speedily implemented with the design completed within 4 days. All raw materials, equipment and safety requirements were either already on site or sourced within the short time period available, again under the guidance of Anokap. The team’s fabrication background made the job much easier by fully understanding the guidance notes and able to build precision fixtures in their adjacent workshop on the same site.</p>

<p>Unloading and positioning of the vessels for each step was carried out with precision as the wet processing area is fitted with a modern, fully motorized 5 tonne over head hoist system and the staff rigging is and banksmanship skills are second to none.</p>

<p>After degreasing with Anokap Cleaning products, the nimble athleticism of the staff and operators was required to fit a cathode assembly fixture at each stage of the electropolishing procedure. In these difficult conditions, the conscientious and dedicated nature of the workforce ensured that great care was taken at each stage not to mechanically damage both before and after processing.</p>

<p>Finally the vessel was positioned on it’s legs in the upright position, desmut and passivated with appropriate chemical products, followed by thorough rinsing and allowed to naturally dry with the assistance of clean compressed air.</p>

<p>The exercise was a complete success with the first vessel collected Sunday afternoon and the second Monday afternoon. The customer was fully satisfied with both the surface finish and service and has promised larger vessel projects, already in hand in the near future. Anokap Solutions was congratulated by all of the staff and management and looks forward to the next time, when no doubt the project will be even more demanding which will be even more rewarding to meet.</p>