---
layout: default
format: frontpage
---
<div id="header-home">
    <div class="row">
        <div class="small-12 columns">
        </div><!-- /.medium-4.columns -->
    </div><!-- /.row -->
</div><!-- /#header-home -->
{% include carousel.html %}

{% include _about-us-home.html %}



<style>

</style>
<div class="w3-bar w3-black">
	<button class="w3-bar-item w3-button" onclick="openCity('London')">{{site.data.custom_yaml.first-tabs}}</button>
	<button class="w3-bar-item w3-button" onclick="openCity('Paris')">{{site.data.custom_yaml.second-tabs}}</button>
	<button class="w3-bar-item w3-button" onclick="openCity('Tokyo')">{{site.data.custom_yaml.third-tabs}}</button>
</div>

<div class="tabs-content">
  <div id="London" class="w3-container city">

	<img style="width: 350px; height: 200px;" src="{{site.url}}/{{site.baseurl}}/images/anokap_project_willowchem_pharmaceutical_pressure_valves.jpg" alt="">

{% for first in site.data.custom_yaml.tab_1 %}
		<h3>{{first.teaser}}</h3>
{% endfor %}
		<hr style="border: 2px solid black;">
{% for first in site.data.custom_yaml.tab_1 %}
		{{first.content}}
{% endfor %}
<a href="/internal-electropolishing"><button>More <i class="fas fa-long-arrow-alt-right"></i></button></a>
  </div>

  <div id="Paris" class="w3-container city" style="display:none">

{% for second in site.data.custom_yaml.tab_2 %}
	<h3>{{second.teaser}}</h3>
{% endfor %}
	<hr style="border: 2px solid black;">
{% for second in site.data.custom_yaml.tab_2 %}
	{{second.content}}
{% endfor %}
<a href="/company"><button>More <i class="fas fa-long-arrow-alt-right"></i></button></a>
  </div>



  <div id="Tokyo" class="w3-container city" style="display:none">
{% for third in site.data.custom_yaml.tab_3 %}
			<h3>{{third.teaser}}</h3>
{% endfor %}
			<hr style="border: 2px solid black;">
{% for third in site.data.custom_yaml.tab_3 %}
			{{third.content}}
{% endfor %}

  </div>
</div>

